<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="mt-2">Create a new listing</h3>
    <form action="/listings" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" placeholder="Enter place name" class="form-control" required>
            <div class="valid-feedback">
                Title looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a good title.
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" placeholder="Enter description" class="form-control" required></textarea>
            <div class="valid-feedback">
                Description looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a good description.
            </div>
        </div>
        

        <div class="mb-3">
            <label for="image" class="form-label">Upload image</label>
            <input name="listing[image]" type="file" class="form-control" required>
            <div class="valid-feedback">
                Please leave empty to get default image.
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="price" class="form-label">price(in &#8377;)</label>
                <input name="listing[price]" type="number" placeholder="Enter price(&#8377; 1000)" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter the price.
                </div>
            </div>
            <div class="col-md-8 mb-3">
                <label for="country" class="form-label">country</label>
                <input name="listing[country]" type="text" placeholder="Enter country" class="form-control" required>
                <div class="valid-feedback">
                    Well good!
                </div>
                <div class="invalid-feedback">
                    Please enter a Country name.
                </div>
            </div>
        </div>

        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input name="listing[location]" type="text" placeholder="Enter location" class="form-control" required>
            <div class="valid-feedback">
                Well good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid location.
            </div>
        </div>
        <center><button class="btn btn-dark mb-3">Create</button></center>
    </form>
</div>
</div>
</body>
